.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}
/* When using Noto-serif, use Times New Roman and generic serif as the fallbacks.*/

.header {
  background-color: #ffffff;
  background-image: url(../images/background_header.svg);
  size: cover;
  height: 800px;
  position: relative;
}

.header__image {
  position: absolute;
  object-fit: contain;
  height: 646px;
  width: 568px;
  top: 124px;
  right: 5px;
}

.header__title {
  position: relative;
  top: 213px;
  left: 80px;
  max-width: 729px;
}

.header__description {
  position: relative;
  top: 241px;
  left: 80px;
  max-width: 683px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.header__footer {
  margin-top: auto;
}

.header__footer_hours {
  position: absolute;
  left: 80px;
  bottom: 40px;
  list-style: none;
  padding: 0;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6f6f6f;
}

.header__footer_address {
  position: absolute;
  right: 80px;
  bottom: 40px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6f6f6f;
}

.span_accent {
  color: #3f96f3;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #3f96f3;
}
.span_title {
  display: block;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
}

.span_header_description {
  display: flex;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  position: relative;
  width: 105px;
  height: 39px;
  top: 30px;
  left: 30px;
}

.nav__links {
  display: flex;
  position: relative;
  top: 30px;
  right: 80px;
  column-gap: 20px;
  list-style: none;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: 500;
}

.recipes {
  color: #fff;
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  size: cover;
  padding: 100px 80px 215px;
}

.recipes__title {
  margin: 0 0 24px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__description {
  margin: 0 0 80px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.span_recipe_description {
  display: flex;
}
.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 0;
  list-style-type: none;
}

.recipe__caption_aeropress {
  display: flex;
  justify-content: space-between;
  margin: 24px 0 0;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.recipe__caption_french-press {
  display: flex;
  justify-content: space-between;
  margin: 24px 0 0;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.iframe {
  width: 480px;
  height: 273px;
}
